


<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Login</title>
        <style>
        p{
			 color: red;      
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
        
        <div class="container" style="margin-top: 50px;">
            <div class="row" style="border: 1px darkgrey solid; border-radius: 10px;width: 50%; margin: 0 auto; padding: 20px;" >
                <div class="col-sm-12">
                <h3>Login</h3>
                
                <form th:action="@{/security/login}" method="post">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter UserName">
                      
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember-me"> Remember me</label>
                    </div>   
				<div th:if="@{message != null}"class="alert alert-primary" role="alert">
                	<p>[[${message}]]</p>
    			</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary">Cancel</button>
                    <p style="margin: 10px; font-size: 16px;"><a th:href="@{/Register}">Register</a></p>
                </form>
                </div>
            </div>
        </div>
        <script th:src="@{/assets/js/shopping-cart-app.js}"></script>
    </body>
</html>
