
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<base href="/ASS" />
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}
</style>
</head>
<body class="w3-light-grey">

	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
		<button
			class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
			onclick="w3_open();">
			<i class="fa fa-bars"></i>  Menu
		</button>
		<span class="w3-bar-item w3-right">Logo</span>
	</div>

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-white w3-animate-left"
		style="z-index: 3; width: 300px;" id="mySidebar">
		<br>
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img th:src="@{/assets/images/quybong.jpg}" class="w3-circle w3-margin-right"
					style="width: 100px">
			</div>
			<ul th:if="${#request.remoteUser}"
								class="nav navbar-nav navbar-right">
								<li><a href="#">Wellcome [[${#request.remoteUser}]]</a></li>
							</ul>
			<div class="w3-col s8 w3-bar">
				<br> <a href="#"
					class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> <a
					href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h5>Dashboard</h5>
		</div>
		<div class="w3-bar-block">
			<a href="#"
				class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
				onclick="w3_close()" title="close menu"><i
				class="fa fa-remove fa-fw"></i>  Close Menu</a> <a th:href="@{/admin/products/add}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-users fa-fw"></i>Product</a> <a th:href="@{/admin/acounts/add}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-eye fa-fw">User</i></a> <a th:href="@{/admin/categories/add}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-users fa-fw"></i>  Category</a> <a th:href="@{/home-page}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-bullseye fa-fw"></i>  Home</a> <a th:href="@{/admin/Order/list}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-diamond fa-fw"></i>  Orders</a> <a th:href="@{/admin/Order/list}"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-bell fa-fw"></i>  News</a> <a href="#"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-bank fa-fw"></i>  General</a> <a href="#"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-history fa-fw"></i>  History</a> <a href="#"
				class="w3-bar-item w3-button w3-padding"><i
				class="fa fa-cog fa-fw"></i>  Settings</a><br>
			<br>
		</div>
	</nav>


	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity"
		onclick="w3_close()" style="cursor: pointer" title="close side menu"
		id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 300px; margin-top: 43px;">

		<!-- Header -->
		<header class="w3-container" style="padding-top: 22px">
			<h5>
				<b><i class="fa fa-dashboard"></i> My Dashboard</b>
			</h5>
		</header>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-quarter">
				<div class="w3-container w3-red w3-padding-16">
					<div class="w3-left">
						<i class="fa fa-comment w3-xxxlarge"></i>
					</div>
					<div class="w3-right">
						<h3>52</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Messages</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-blue w3-padding-16">
					<div class="w3-left">
						<i class="fa fa-eye w3-xxxlarge"></i>
					</div>
					<div class="w3-right">
						<h3>99</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Views</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-teal w3-padding-16">
					<div class="w3-left">
						<i class="fa fa-share-alt w3-xxxlarge"></i>
					</div>
					<div class="w3-right">
						<h3>23</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Shares</h4>
				</div>
			</div>
			<div class="w3-quarter">
				<div class="w3-container w3-orange w3-text-white w3-padding-16">
					<div class="w3-left">
						<i class="fa fa-users w3-xxxlarge"></i>
					</div>
					<div class="w3-right">
						<h3>50</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Users</h4>
				</div>
			</div>
		</div>

		<main class="container">
			<div class="row">
				<div class="col">
					<form th:action="@{/admin/categories/saveOrUpdate}" method="post" th:object="${category}">
						<div class="card">
							<div class="card-header">
								<h2>Add New Category</h2>
							</div>
							<div class="card-body">								
									<div class="form-group">
										<label for="categoryId">Category ID:</label>
										<input type="hidden" th:field="*{isEdit}">
										 <input
											type="text" class="form-control" th:field="*{categoryId}"
											aria-describedby="helpId" placeholder="category ID" readonly>
										<small th:if="${#fields.hasErrors('categoryId')}" id="categoryIdHid" class="form-text text-muted">category id is required
											</small>
									</div>
									<div class="form-group">
										<label for="name">Name:</label> <input
											type="text" class="form-control" id="name"
											th:field="*{name}" placeholder="name">
										<small th:if="${#fields.hasErrors('name')}" id="nameHid" class="form-text text-muted">Name is required
											</small>
									</div>
							</div>
						</div>
						<div class="form-group">  
							<button class="btn btn-primary">
							<span th:if="${category.isEdit}">Update</span>
							<span th:unless="${category.isEdit}">Create</span>
							</button>
							<a th:href="@{/admin/categories/search/paginated}" class="btn btn-warning" >List Category</a>
							<button class="btn btn-info" formaction="Product/reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</main>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-light-grey">
			<h4>FOOTER</h4>
			<p>
				Powered by <a href="https://www.w3schools.com/w3css/default.asp"
					target="_blank">w3.css</a>
			</p>
		</footer>

		<!-- End page content -->
	</div>

	<script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
			if (mySidebar.style.display === 'block') {
				mySidebar.style.display = 'none';
				overlayBg.style.display = "none";
			} else {
				mySidebar.style.display = 'block';
				overlayBg.style.display = "block";
			}
		}

		// Close the sidebar with the close button
		function w3_close() {
			mySidebar.style.display = "none";
			overlayBg.style.display = "none";
		}
	</script>

</body>
</html>